@import url("__container/comments__container.css");

.comments {
    width: 100%;
    margin: 126px auto 0;
}

.comments .content-title {
    line-height: 65px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
    .comments__container {
        width: 95%;
    }
}

@media screen and (max-width: 1024px) {
    .comments {
        margin-top: 114px;
    }
    .comments .content-title {
        line-height: 66px;
        margin-bottom: 36px;
    }   
    .comments .comments__container {
        width: 90%;
    }
    .comment {
        width: 32%;
    }
    .comment__quote {
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 768px) {
    .comments {
        margin-top: 104px;
    }
    .comments .content-title{
        line-height: 46px;
        margin-bottom: 31px;
    }
    .comments__container {
        flex-direction: column;
    }
    .comment {
        width: 56%;
        margin: auto;
        align-items: center;
        margin-bottom: 76px;
    }
    .comment:last-of-type{
        margin-bottom: 0;
    }
    .comment__image {
        margin-bottom: 12px;
    }
    .comment__quote {
        order: 2;
        font-size: 16px;
        line-height: 23px;
    }
    
    .comment__author {
        order: 1;
        margin-bottom: 18px;
    }
}

@media screen and (max-width: 600px) {
    .comment {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .comments {
        margin-top: 57px;
    }
    .comment {
        margin-bottom: 31px;
    }
    .comments .content-title {
        margin-bottom: 22px;
        line-height: 36px;
    }
    .comments .content-subtitle {
        margin-bottom: 42px;
    }
    .comment__image {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 350px) {
    .comments .content-subtitle {
        margin-bottom: 32px;
    }
    .comment {
        margin-bottom: 29px;
    }
}