.header__lang {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 23px;
    margin: 0;

    font-family: Inter;
    font-size: 24px;
    line-height: 23px;
}

.header__lang:first-of-type {
    top: 17px;
    right: 48px;
}

.header__lang:last-of-type {
    top: 17px;
    right: 0;
}